footer{
  background-color: #222;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  color: white;
}
.repository{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}